@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oswald:400,700');

html,
body {
    margin: 0;
    height: 100%;
    background: black;
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: red;
}

.workflow {
    display: none;
}

#stage {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Arial;
    text-align: center;
    background: black;
}

.terminator {
    fill: grey;
}

.process {
    fill: grey;
}

.decision {
    fill: red;
}

.caption {
    text-anchor: middle;
    alignment-baseline: central;
    fill: white;
}

.label {
    text-anchor: middle;
    alignment-baseline: central;
    fill: lightgray;
}

.connector {
    fill: none;
    stroke: lightgray;
    stroke-width: 2px;
}

.arrow {
    fill: lightgray;
}